<ng-template #loading>
    <div id="contenedor_carga">
        <div id="carga"></div>
    </div>
</ng-template>

<div *ngIf="user.role === 'SUPERADMIN'|| user.role === 'ADMIN' ">
    <div class="acces-icons animated fadeIn container">
        <!-- <a class="nav-link collapsed cursor" routerLink="/dashboard/buscar">

            <div class="icontext shadow">
                <i class="fa fa-search"></i>
                <h3>Buscar</h3>
            </div>
        </a> -->
        
        <a class="nav-link collapsed cursor" routerLink="/dashboard/projects">
            <div class="icontext shadow">
                <i class="fa fa-folder"> </i>
                <h3>Proyectos</h3>
            </div>
        </a>
       
        <a class="nav-link collapsed cursor" routerLink="/dashboard/users">

            <div class="icontext shadow">
                <i class="fa fa-users"></i>
                <h3>Usuarios</h3>
            </div>
        </a>
        
        <a class="nav-link collapsed cursor" routerLink="/dashboard/configuraciones">

            <div class="icontext shadow">
                <i class="fa fa-cogs"> </i>
                <h3>mas</h3>
            </div>
        </a>

    </div>
</div>

<div *ngIf="user.role === 'PARTNER'">
    <div class="acces-icons animated fadeIn container">
        <a class="nav-link collapsed cursor" routerLink="/dashboard/projects">

            <div class="icontext shadow">
                <i class="fa fa-desktop"></i>
                <h3>Projectos</h3>
            </div>
        </a>

        <a class="nav-link collapsed cursor" routerLink="/dashboard/categories">

            <div class="icontext shadow">
                <i class="fa fa-info-circle"> </i>
                <h3>Tipos de Proyecto</h3>
            </div>
        </a>
        <a class="nav-link collapsed cursor" [routerLink]="['/dashboard/profile/', user.id]">

            <div class="icontext shadow">
                <i class="fa fa-user-md"> </i>
                <h3>Perfil</h3>
            </div>
        </a>

    </div>
</div>