<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="profile">

    <app-backButtn [displaycomponent]="displaycomponent" [title]="title"></app-backButtn>
    <div class="clear"></div>
    
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="row animated fadeInUp" *ngIf="!isLoading">
        <section class="section dashboard">

            <div class="card pagodetail border-radio">
                <div class="col-xs-12 col-sm-6">
                    <p><b>Referencia:</b> {{payment.referencia}}</p>
                    <p><b>Status: &nbsp;</b>
                        <span class="badge bg-success" *ngIf="payment.status === true">Aprobado</span>
                        <span class="badge bg-primary" *ngIf="payment.status === false">Pendiente</span>
                    </p>
                   
                    <p><b>Cliente:</b> {{payment.cliente.name}}</p>
                    <p><b>Monto pagado:</b> {{payment.amount| currency}}</p>
                    <!-- <p><b>Vendedor:</b> {{payment.reparticion.vendedor.id}} | {{payment.reparticion.vendedor.monto| currency}}</p>
                    <p><b>Admin:</b> {{payment.reparticion.admin.id}} | {{payment.reparticion.admin.monto| currency}}</p>
                    <p><b>CEO:</b> {{payment.reparticion.ceo.id}} | {{payment.reparticion.ceo.monto| currency}}</p> -->
                    <p><b>Vendedor:</b> {{payment?.reparticion?.vendedor?.id?.username}} | {{payment.reparticion.vendedor.monto| currency:'EUR'}}</p>
                    <p><b>Admin:</b> {{payment?.reparticion?.admin?.id?.username}} | {{payment.reparticion.admin.monto| currency:'EUR'}}</p>
                    <p><b>CEO:</b> {{payment?.reparticion?.ceo?.id?.username}} | {{payment.reparticion.ceo.monto| currency:'EUR'}}</p>
                    <p><b>Banco destino:</b> {{payment.bank_destino}}</p>
                    <p><b>Metodo de Pago:</b> {{payment.metodo_pago}}</p>
                    <p><b>Tipo de Pago:</b> {{payment.tipo_pago}}</p>
                    <p><b>Creada:</b> {{payment.createdAt | date:'MMM d, y, h:mm:ss a'}}</p>
                    <p><b>Verificada:</b> {{payment.fecha_verificacion | date:'MMM d, y, h:mm:ss a'}}</p>

                    
                </div>


            </div>


        </section>
    </div>
</div>
<!-- End #main-->